<html>
	<head>
		<% if message == "Way too high!" or message == "Way too low!" %>
			<style>
				body {
					background: red;
				}
			</style>
		<% end %>
		<% if message == "Too high!" or message == "Too low!" %>
			<style>
				body {
					background: LightSalmon;
				}
			</style>
		<% end %>
		<% if message == "You got it right!" %>
			<style>
				body {
					background: green;
				}
			</style>
		<% end %>
	</head>
	<body>
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>
		<p>
			<%= message %>
		</p>
		<% if message == "You got it right!" or cheat == "true" %>
		<p>
			The SECRET NUMBER is <%= number %>
		</p>
		<% end %>
	</body>
</html>